if: tag IS blank
env:
  global:
  - BUILD_PYTHON_VERSION=3.7.4
  - BUILD_OPENSSL_VERSION=1.1.1c
  - PATCHELF_VERSION=0.9
  - MUSL_VERSION=1.1.22
  - PYINSTALLER_VERSION=3.5
cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/python
    - $HOME/ssl
    - $HOME/pybuild

matrix:
  include:
#    - os: linux
#      name: "Linux 64-bit Bionic"
#      dist: bionic
#      language: bash
#      env:
#        - GAMOS=linux
#        - PLATFORM=x86_64
#        - VMTYPE=build
    - os: linux
      name: "Linux 64-bit Xenial"
      dist: xenial
      language: bash
      env:
        - GAMOS=linux
        - PLATFORM=x86_64
        - VMTYPE=build
    - os: linux
      name: "Linux 64-bit Trusty"
      dist: trusty
      language: bash
      env:
        - GAMOS=linux
        - PLATFORM=x86_64
        - VMTYPE=build
    - os: linux
      name: "Linux 64-bit Precise"
      dist: precise
      language: bash
      env:
        - GAMOS=linux
        - PLATFORM=x86_64
        - VMTYPE=build

before_install:
- source src/travis/$TRAVIS_OS_NAME-$PLATFORM-before-install.sh

install:
- source src/travis/$TRAVIS_OS_NAME-$PLATFORM-install.sh

script:
- $gam version extended
- $gam version | grep travis # travis should be part of the path (not /tmp or such)
# determine which Python version GAM is built with and ensure it's at least build version from above.
- if [ "VMTYPE" == "build" ]; then vline=$(gam version | grep "Python "); python_line=($vline); this_python=${python_line[1]}; tools/a_atleast_b.py $this_python $BUILD_PYTHON_VERSION; fi
# determine which OpenSSL version GAM is built with and ensure it's at least build version from above.
- if [ "VMTYPE" == "build" ]; then vline=$(gam version extended | grep "OpenSSL "); openssl_line=($vline); this_openssl=${openssl_line[1]}; tools/a_atleast_b.py $this_openssl $BUILD_OPENSSL_VERSION; fi
- if [ "$VMTYPE" == "build" ]; then $gam version extended | grep TLSv1\.[23]; fi # Builds should default TLS 1.2 or 1.3 to Google
- if [ "$VMTYPE" == "build" ]; then $gam config tls_min_version TLSv1_2  version extended location tls-v1-0.badssl.com:1010; [[ $? == 3 ]]; fi # expect fail since server doesn't support our TLS version

before_deploy:
- export TRAVIS_TAG="preview"

deploy:
  provider: releases
  api_key:
    secure: VIDkcckmXYm7SgeoJWwkFUjbv0uJqcR5nEwkrJpLngEu3Vj+raLE2R0DeJ5cJzPrVbGvskc8avcr8Z8Mn0dg3WFb6OoniurQLrTS022vV5wnVqQHeRktym5JdD63SW90VAjsTA9hA0PingL53/Cij+1orxojN+K3sK1NDuFgG6g+eBfZ0QOFy0+S6nx/8zBrrbi4muXdFZw1hI9+FN7K9/ingA2ANSZ2wFK4KUZwSDBT1lOQcYwPPvaajH52vuqeSx0VYW7+qh5e+ivgutr5C8jsW05CuaDLvs0zEUTRMVzl3qZajh78bulCu2GPakeW/ThfJ0h2g98x7hAENnNX1hhmKq/PcDwBYK7ZBP3mepPYj7mbhcHkJQ3itusiXQfoWVFa/ivs9KHeRQgbxAM39FA1ox/POUesLp2G2BuUvl77ZL/RRp6DZDdCR+dH7v222zYqkpFAY05k25ZzieJkpEsWSfSrOlKXjNssEn/GMjyQqpQcVIFCvGoA9ZyKqCLLixcEzyW1arp2M76ujwxEI5muaZ6foQIcgfWWqWwYryy2boximmRLcff86NzZQD1OS7XP8H59kTL1zWCqBgDdvfthGKp0YY4O44pr7CTw+GeQT0MafBkBriHHlUU4NcorrAghQPwoEfT9QvMwNJ9bOTU8LiWgFsPrsMcPmHxaI84=
  file_glob: true
  overwrite: true
  file: gamadv-xtd3-$GAMVERSION-*
  skip_cleanup: true
  draft: true
  all_branches: true
  on:
    repo: taers232c/GAMADV-XTD3
    condition: $VMTYPE = build
