chardet
cryptography<=42.0.5
distro; sys_platform == 'linux'
filelock
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth
httplib2
passlib
python-dateutil
pathvalidate
lxml
yubikey-manager>=5.0
